:root {
    --Main-color: #202020;
    --Secondary-color: #3b3b3b;
}

/* General Config */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Red Hat Display', sans-serif;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Header nav */
#main-header{
    background: var(--Main-color);

    width: 100vw;
    min-width: 320px;
    height: 90px;

    margin: 0 0 5px 0;

    position: sticky;
    top: -1px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

#main-nav {
    width: 96%;
    height: 85%;

    display: inherit;
    justify-content: space-between;
    align-items: center;
}

#logo-cont {
    margin: 25px;

    display: flex;
    align-items: center;
}

#logo-icon {
    color: #FFF;
    font-size: 50px;
    margin: 0 10px 0  0;
}

#text-logo {
    color: #FFF;
}

#search-bar {
    background: var(--Secondary-color);
    color: #FFF;
    border: 0;
    border-radius: 5px;

    font-size: 17px;
    outline: #ffffff00;

    width: 45%;
    height: 25px;

    padding: 4px 12px;
}

#open-box-button {
    background: none;
    border: 0;

    margin: 0 20px 0 30px;

    transition: transform 100ms ease-in-out;
}

#open-box-button:active {
    transform: rotateZ(-80deg);
}

#open-box-icon {
    color: #FFF;
    font-size: 40px;

    cursor: pointer;
}

@media (max-width: 800px) {
    #text-logo{
        display: none;
    }

    #open-box-icon {
        font-size: 35px;
    }
}

/* Messsage Zone */
#message-zone-cont {
    width: 250px;

    position: fixed;
    left: 20px;
    bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.message-zone {
    color: #FFF;
    font-size: 15px;

    width: 100%;
    height: 70px;
    min-height: 50px;

    margin: 5px;
    position: relative;

    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

@media (max-width: 650px) {
    #message-zone-cont {
        width: 100vw;
        max-height: 140px;

        top: 5px;
        left: unset;
        bottom: unset;
    }

    .message-zone {
        font-size: 18px;
    }
}

@keyframes messageAppear {
    0% {
        left: -100px;
        opacity: 0;
    }

    100% {
        left: 10px;
        opacity: 1;
    }
}

/* Main page */
#main {
    min-width: 320px;
    min-height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    background: #FFF;
    box-shadow: 1px 4px 10px 1px #e0e0e0;
    list-style: none;

    width: 320px;
    height: 445px;

    transition: all 100ms ease-in;

    margin: 5px;

    position: relative;
    display: flex;
    flex-direction: column;
}

.fa-check-circle {
    color: #03a703;
    font-size: 36px;
    transform: scale(2);
    opacity: 0;

    position: absolute;
    top: 0px;
    right: -13px;

    animation: checkedProduct 200ms ease-in forwards;
}

@keyframes checkedProduct {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.product:hover {
    cursor: pointer;
    box-shadow: 1 4px 5px 1px #f1efef;
    transform: scale(1.020);
}

.product:active {
    transform: scale(1);
}

.product * {
    margin: 2px 15px;
}

.product-image {
    max-width: 310px;
    min-height: 322px;

    margin: 5px;

    align-self: center;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
}

.product-price {
    font-size: 15px;
    font-weight: 200;
    color: #13d301;
}

.product-maker {
    color: #888888;
    font-weight: 200;
}

/* Shop Box List */
#selected-section {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: -25px;

    display: none;
    flex-direction: column;
    align-items: center;

    z-index: 1;
}

@keyframes shoppingBoxAppear {
    0% {
        opacity: 0;
        right: -100px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes shoppingBoxDisappear {
    0% {
        opacity: 1;
        right: 0;
    }

    100% {
        opacity: 0;
        right: -100px;
    }
}

#shop-box-title {
    background: var(--Main-color);
    color: #FFF;
    
    width: 100vw;
    height: 50px;
    
    margin: 25px 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-box-title th {
    font-size: 20px;
}

#shop-box-list {
    width: 100vw;
    height: 95vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#table-body {
    background: var(--Secondary-color);
    overflow-y: scroll;

    width: 100vw;
    min-width: 320px;
    min-height: 95px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#table-body::-webkit-scrollbar {
    display: none;
}

.product-selected {
    background: #FFF;
    list-style: none;

    width: 95%;
    height: 95px;

    margin: 4px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes impossibleToDo {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transfom: rotate(0);
    }
}

.product-selected td {
    width: 88px;
    height: 100%;

    display: flex;
    align-items: center;
}

.product-selected td:nth-child(2) {
    width: 80px;
}

.product-selected-img {
    height: 100%;
}

.count-cont {
    width: 70px;
}

.count-indicator {
    font-size: 15px;
}

.count-button {
    background: var(--Main-color);
    color: #FFF;
    border: 0;

    padding: 8px;
    transition: all 200ms ease-in-out;
}

.count-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #575757;
}

.count-button:active {
    transform: scale(1);
    background-color: #222222;
}

.delete-button {
    background: #a10000;
    border: 0;
    color: #FFF;
    font-weight: 600;

    padding: 3px 1px;

    transition: transform 200ms ease-in;

    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button:hover {
    cursor: pointer;
    background: #d30000;
    transform: scale(1.2);
}

.delete-button:active {
    background: #610000;
    transform: scale(1);
}

.delete-button i {
    font-size: 20px;
    padding: 5px;
}

#close-button {
    background: var(--Secondary-color);
    border: 0;
    cursor: pointer;

    padding: 12px;
    display: flex;
}

#close-button-icon {
    color: #FFF;
    font-size: 25px;

    padding: 0 5px;
}

#total-cont {
    background: var(--Main-color);
    color: #FFF;
    
    width: 100vw;
    min-width: 320px;
    min-height: 60px;

    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#buy-button {
    background: #13d301;
    border: 0;

    color: #FFF;

    padding: 10px 20px;
    transition: all 0.1s;
}

#buy-button:hover {
    cursor: pointer;
    background: #13c203;
}

#buy-button:active {
    background: #0fa501;
}

@media (max-width: 600px) {

    #selected-section {
        width: 95vw;
        min-width: 320px;
        min-height: 60px;

        position: fixed;
        top: 0;
        right: 0;

        display: none;
        z-index: 1;
    }

    #shop-box-list {
        width: 100%;
        height: 100vh;
    }
    
   #shop-box-title {
        border-radius: 0;

        height: 40px;
        margin: 0;
    }

    #table-body {
        width: 95vw;
        height: 88vh;
    }

    #total-cont {
        width: 95%;
    }

    .product-selected td:nth-child(2) {
        width: 100px;

        margin: 0 5px 0 5px;
}

    .product-selected .product-name, .product-selected .product-price, .product-selected .product-maker {
        font-size: 14px;
    }

    .product-selected *:nth-child(4)  {
        display: none;
    }

    .count-button {
        padding: 10px;
    }

    .delete-button {
        margin: 0 15px;
        padding: 8px 5px;
    }
}


/* Footer */
#footer {
    background: var(--Main-color);

    min-height: 100px;
    min-width: 320px;

    padding: 10px 0;
    margin: 50px 0 0 0;

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

#social-media-cont {
    width: 50%;
    height: 90%;

    margin: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-icon {
    color: #FFF;
    font-size: 45px;

    transition: transform 200ms ease-in;
}

.social-media-icon:hover {
    transform: scale(1.2) rotateZ(2turn);
}

#maker-info {
    color: #FFF;
    font-size: 15px;
    font-weight: 200;

    width: 40%;

    margin: 0 0 0 10px;
}