:root {
    --Main-color: #202020;
    --Secondary-color: #3b3b3b;
}

/* General Config */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Red Hat Display', sans-serif;

    scroll-behavior: smooth;
    
    min-height: 580px;
}

/* Header nav */
#main-header{ 
    background: var(--Main-color);

    width: 98vw;
    min-width: 320px;
    height: 120px;

    margin: 0 0 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main-nav {
    width: 98%;
    height: 85%;

    display: inherit;
    justify-content: space-between;
    align-items: center;
}

#logo-cont {
    margin: 25px;

    display: flex;
    align-items: center;
}

#logo-icon {
    color: #FFF;
    font-size: 60px;
    margin: 0 10px 0  0;
}

#text-logo {
    color: #FFF;
}

@media (max-width: 900px) {
    #text-logo{
        display: none;
    }
}

#search-bar {
    background: var(--Secondary-color);
    color: #FFF;
    border: 0;
    border-radius: 5px;

    font-size: 17px;
    outline: #ffffff00;

    width: 45%;
    height: 25px;

    padding: 4px 10px;
}

#settings-icon {
    color: #FFF;
    font-size: 45px;

    margin: 25px;
    transition: transform 0.3s ease-in-out;
}

#settings-icon:hover {
    transform: rotate(180deg);
}

/* Messsage Zone */
#message-zone-cont {
    width: 250px;
    min-height: 0;

    position: fixed;
    left: 20px;
    bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-zone {
    color: #FFF;
    font-size: 15px;

    width: 100%;
    height: 70px;
    min-height: 50px;

    margin: 5px;
    position: relative;

    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

@media (max-width: 650px) {
    #message-zone-cont {
        width: 100vw;
        max-height: 140px;

        top: 10px;
        left: unset;
        bottom: unset;
    }

    .message-zone {
        font-size: 18px;
    }
}

@keyframes messageAppear {
    0% {
        left: -100px;
        opacity: 0;
    }

    100% {
        left: 10px;
        opacity: 1;
    }
}

/* Main page */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-list {
    min-height: 75vh;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    background: #FFF;
    box-shadow: 1px 4px 10px 1px #e0e0e0;
    list-style: none;

    width: 320px;
    min-width: 310px;
    height: 450px;

    transition: all 0.1s ease-in;

    margin: 5px;

    position: relative;
    display: flex;
    flex-direction: column;
}

.product:hover {
    box-shadow: 1 4px 5px 1px #f1efef;
    transform: scale(1.020);
}

.product:active {
    transform: scale(1);
}

.product * {
    margin: 2px 15px;
}

.product-image {

    margin: 5px;

    align-self: center;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
}

.product-price {
    font-size: 15px;
    font-weight: 200;
    color: #13d301;
}

.product-maker {
    color: #888888;
    font-weight: 200;
}

.delete-button {
    background: #d30000;
    border: 0;
    color: #FFF;

}

.delete-button i {
    font-size: 20px;
    padding: 5px;
}


/* Shop Box List */
#selected-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#shop-box-title {
    background: var(--Main-color);
    color: #FFF;
    
    width: 100%;
    height: 60px;
    
    margin: 25px 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-box-title th {
    font-size: 20px;
}

#shop-box-list {
    width: 90%;
    min-width: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#table-body {
    background: var(--Secondary-color);
    overflow-y: hidden;

    width: 100%;

    min-height: 208px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-selected {
    background: #FFF;
    list-style: none;

    width: 98%;
    height: 95px;

    margin: 4px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


@keyframes impossibleToDo {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transfom: rotate(0);
    }
}

.product-selected td {
    width: 88px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-selected-img {
    height: 100%;
}

.count-cont {
    width: 70px;
}

.count-indicator {
    font-size: 15px;
}

.count-button {
    background: var(--Main-color);
    color: #FFF;
    border: 0;

    padding: 8px;
}

.count-button:hover {
    background: #575757;
}

.count-button:active {
    background: #222222;
}

.delete-button {
    background: #a10000;
    border: 0;
    color: #FFF;
    font-weight: 600;

    padding: 3px 1px;

    transition: transition 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button:hover {
    background: #d30000;
    transform: scale(1.2);
}

.delete-button:active {
    background: #610000;
    transform: scale(1);
}

#close-button { 
    display: none;
}

#close-button-icon {
    color: #FFF;
    font-size: 25px;

    padding: 0 5px;
}

#total-cont {
    background: var(--Main-color);
    color: #FFF;
    
    width: 90%;
    min-width: 320px;
    height: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#buy-button {
    background: #13d301;
    border: 0;

    color: #FFF;

    padding: 10px 20px;
    transition: all 0.1s;
}

#buy-button:hover {
    background: #13c203;
}

#buy-button:active {
    background: #0fa501;
}

#open-shopping-box-button {
    background: var(--Main-color);
    border-radius: 50%;
    border: 0;

    position: fixed;
    bottom: 30px;
    right: 30px;

    display: none;
    text-align: center;
}

#open-shopping-box-button i {
    color: #FFF;
    font-size: 25px;

    padding: 22px 20px;
}

@media (max-width: 600px) {

    #selected-section {
        width: 95vw;
        min-width: 320px;
        height: 100vh;
        min-height: 60px;

        position: fixed;
        top: 0;
        right: 0;

        display: none;
    }

    @keyframes shoppingBoxAppear {
        0% {
            opacity: 0;
            right: -100px;
        }

        100% {
            opacity: 1;
            right: 0;
        }
    }

    @keyframes shoppingBoxDisappear {
        0% {
            opacity: 1;
            right: 0;
        }

        100% {
            opacity: 0;
            right: -100px;
        }
    }

    #open-shopping-box-button {
        display: initial;
    }

    #close-shopping-box {
        display: flex;
    }

    #shop-box-list {
        background: var(--Secondary-color);

        width: 100%;
        height: 95%;
    }
    
   #shop-box-title {
        border-radius: 0;

        height: 40px;
        margin: 0;
    }

    #table-body {
        overflow-y: scroll;
    }

    #total-cont {
        width: 95%;

        position: fixed;
        bottom: 0;
    }

    #close-button {
        background: var(--Secondary-color);
        border: 0;

        padding: 12px;
        display: flex;
    }

    .product-selected .product-name {
        font-size: 17px;
        max-width: 70px;
    }

    .product-selected *:nth-child(4)  {
        display: none;
    }

    .count-button {
        padding: 15px 10px;
    }

    .deleteButton {
        margin: 0 8px;
        padding: 10px 8px;
    }
}


/* Footer */
#footer {
    background: var(--Main-color);

    min-height: 100px;
    min-width: 320px;

    padding: 10px 0;
    margin: 50px 0 0 0;

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

#social-media-cont {
    width: 50%;
    height: 90%;

    margin: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-icon {
    color: #FFF;
    font-size: 45px;

    transition: transform 0.5s ease-out;
}

.social-media-icon:hover {
    transform: scale(1.2) rotateZ(2turn);
}

#maker-info {
    color: #FFF;
    font-size: 15px;
    font-weight: 200;

    width: 40%;

    margin: 0 0 0 10px;
}